.mat-tab-group {

    height: inherit;

    ::ng-deep {
        .mat-tab-body-wrapper {
            height: inherit;
        }
        .mat-tab-body-content {
            padding: 0 !important;
            margin-top: -0.25rem;
            
            .profile-data-views-list-container {
                padding-top: 0.25rem;
            }
        }
    }
}

::ng-deep .pep-button.strong:focus{
    box-shadow: none !important;
}

