//@import '~@pepperi-addons/ngx-lib/theming';
@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as ngx-variables;
@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/functions' as ngx-functions;
@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins' as ngx-mixins;

//@import 'ngx-lib/src/core/style/abstracts/variables';
//@import 'ngx-lib/src/core/style/abstracts/mixins';
//@include pepperi-theme();
// Get the theme object.
//$pepperi-theme: get-pepperi-theme();

.addSlugCont{
        display: flex;
        flex-direction: row;
        gap: 1rem;
}

.validationMsg{
        //background: rgb(230, 38, 0);
        border-radius: 0 0 4px 4px;
        padding: .25rem .5rem;
        margin: -1.1rem 0 .75rem 0;
        height: 1.5rem;
        background: ngx-functions.get-pep-color(color-system-caution, color-base);
        color: ngx-functions.get-pep-color(color-text, color-invert);
        font-weight: var(--pep-font-weight-bold, 600);
}

.ulCont{
        color: ngx-functions.get-pep-color(color-text, color-dimmed);

        ul{
                padding-inline-start: 1.5rem;
                margin-top: .25rem;

                li::marker {
                        color: rgba(26, 26, 26, 0.9);
                        //color: get-pep-color($pepperi-theme, color-text, color-system);
                    }
        }
}